.card1-background{
  background-image:url("../images/cafe.jpg");
}
.card2-background{
  background-image:url("../images/birthday.jpg");
}
.card3-background{
  background-image:url("../images/platter.jpeg");
}
.card {
  border-radius: 10px 10px 10px 10px;
  transition: height 0.6s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height:300px;
}

.card .title{
  color:black;
  opacity:0.65;
  font-family: 'Jua', sans-serif;
  font-size: 38px;
  position: relative;
  width: 100%;
  top: 20px;
  background-color: white;
}
