.home_1{
  background-image:url("../images/bowling.jpg");
}
.home_2{
  background-image:url("../images/birthday.jpg");
}
.home_3{
  background-image:url("../images/platter.jpeg");
}
.home_4{
  background-image:url("../images/platter.jpeg");
}

.card {
  border-radius: 10px 10px 10px 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height:300px;
  box-sizing: border-box;
  overflow: hidden;
  transition: opacity 1s;
}

.card:hover{
  background-size: 120%;
}

.card .title{
  color:black;
  opacity:0.65;
  font-family: 'Jua', sans-serif;
  font-size: 38px;
  position:static;
  width: 100%;
  top: 20px;
  background-color: white;
  z-index: 2;
}
