/*
  css-card reference

  1. Reece McDonald "http://freefrontend.com/css-cards/"


*/

.home_1{
  background-image:url("../images/bowling.jpg");
}
.home_2{
  background-image:url("../images/birthday.jpg");
}
.home_3{
  background-image:url("../images/platter.jpeg");
}
.home_4{
  background-image:url("../images/platter.jpeg");
}

.img_link {
  border-radius: 10px 10px 10px 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
  height: 300px;
  transition: background-size 0.3s ease-in;
}
.img_link:hover{
  background-size: 120%;
}

.img_link .title{
  color:black;
  opacity:0.65;
  font-family: 'Jua', sans-serif;
  font-size: 38px;
  letter-spacing:1px;
  position:relative;
  width: 100%;
  top: 20px;
  background-color: white;
  z-index: 1;
}
