.content{
    background-color:rgba(0,0,0,0.3);
    height:400px;
}



input{
    width: 100%;
    box-sizing: border-box;
    border: 1.5px solid gray;
    padding: 5px 5px 5px 10px;
    margin: 0 0 0 0;
    background-color: white;
    border-radius: 4px;
    font-size: 16px;
}

label{
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #c7c6c6;
    padding: 5px 0 5px 10px;

}

input, label {
    display:block;
}

input[type="submit"]{
    width:50%;
    margin: 20px auto;
    color: #66FCF1;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #66FCF1;
    font-size: 24px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: 7% 50%;
    border-radius: 5px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

input[type=submit]:hover {
  color: #000000;
  background-color: #66FCF1;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

form{
    width:70%;
    margin: auto;
}

input:required:invalid{
  background-image:url(../images/red_cross.png);
  background-repeat:no-repeat;
  background-position:right;
  background-color:#ffd6cc;
}

input:required:valid{
  background-image:url(../images/green_tick.png);
  background-repeat:no-repeat;
  background-position:right;
  background-color:#ccffcc;
}
