/* CSS reference

1. https://www.adam-bray.com ,www.w3schools.com and
2. https://css-tricks.com/three-line-menu-navicon
3. Online Tutorials(Youtube)
4. http://freefrontend.com/css-cards/#card-sliders

body background image from
https://wall.alphacoders.com/big.php?i=805177&lang=Chinese
*/

*{
    margin:0;
    padding:0;
    text-decoration:none;
}
body{
  position: relative;
  background-image: url("../images/star.jpg")
}


/* Three parts of body 1.header 2.mid_body 3.footer  */

/* ******************************* */
/* *********** Header  *********** */
/* ******************************* */

header{
  position: sticky;
  top:0;
  z-index: 2;
}
/* desktop navigation bar css*/
.logo{
  width:18%;
  margin-top: 5px;
  position:absolute;
}
.desktop_nav{
    width: 100%;
    background-color: #19181A;
    padding-left: 50px;
    box-sizing:border-box;
    height:80px;
    display: none;
}
.desktop_nav .desktop_nav_btn{
    display: inline-block;
    padding:0 15px;
    line-height: 72px;
    transition: 0.5s;
    height:80px;
    float:right;
}
.desktop_nav > div:first-child desktop_nav_btn{
    margin-right: 30px;
}

.desktop_nav .desktop_nav_btn a{
    color:#cecece;
    text-decoration:none;
    font-family: 'Anton',"Arial Black", Gadget, sans-serif;
    text-transform:none;
    font-size: 20px;
    letter-spacing:1px;
}
.desktop_nav  .desktop_nav_btn:hover a{
    color:#66FCF1;
}
.desktop_nav .desktop_nav_btn:hover{
    background: #263c69;
}
/* mobile nav & menu*/
.mobile_nav{
    width:100%;
    background-color: #000000;
    padding:10px 30px;
    box-sizing:border-box;
    display:block;
    height:80px;
}
.mobile_nav .logo{
    font-size: 50px;
    position:absolute;
    top:10px;
    text-decoration:none;
}
.mobile_nav .logo a{
    color:white;
}
.mobile_nav .menu {
    color:white;
    float:right;
    padding: 5px 10px;
}
.sidemenu{
    font-family: 'Oswald', sans-serif;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #0f0f0f;
    overflow-x: hidden;
    padding-top: 60px;
    text-align:center;
    transition: 0.5s;
    line-height: 40px;
}
.sidemenu .sidemenu_close{
    text-decoration: none;
    position: absolute;
    color:white;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidemenu  .side_dropdown_btn a{
      text-decoration: none;
      color: #cecece;
      font-size: 25px;
      transition: 0.3s;
      width:60%;
      box-sizing: border-box;
}
.sidemenu  .side_dropdown_btn a:hover{
      color: #66FCF1;
}

/***** Mobile hamburger icon *****/
.hamburger{
  height:32px;
  width:35px;
}
.hamburger:hover .burger_line, .hamburger:hover .burger_line_1{
  background-color:#f1479d;
}
.burger_line_1, .burger_line{
  background-color: white;
  width: 35px;
  height:5px;
}
.burger_line{
  margin-top: 7px;
}

/* ******************************* */
/* ************ Body  ************ */
/* ******************************* */
.main_body{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2eb6d0;
  background-size: cover;
  box-shadow: 0px 0px 30px 5px #66FCF1;
  border-left: 2px solid #66FCF1;
  border-right: 2px solid #66FCF1;

}
.main_body .mid_body{
  width:100%;
  overflow: hidden;
}

.page_image{
  width:100%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: sticky;
  top:0;
  z-index: 0;
}

.booknow{
  width:100%;
  height:200px;
  background-position: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

/* ************************************ */
/* ************ Container  ************ */
/* ************************************ */
.container{
  font-family: 'Anton',"Arial Black", Gadget, sans-serif;
  width:100%;
  box-sizing: border-box;
  letter-spacing:2px;
}

.container .box{
  position: relative;
  width:100%;
  height:250px;
  float:none;
  transition:.5s;
}

.container .box .box_img {
  position: absolute;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.container .box:nth-child(1) .details{
      background-color: #345798;
}
.container .box:nth-child(2) .details{
      background-color: #a33327;
}
.container .box:nth-child(3) .details{
      background-color: #4e0c77;
}
.container .box:nth-child(4) .details{
      background-color: #2d8a57;
}

.container .box .details{
      position: absolute;
      width: 100%;
      height: 250px;
      overflow: hidden;
      background-color: #262626;
}
.container .box .details .content{
      position: absolute;
      top:25%;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      text-align: center;
      transition:0.5s;

}
.container .box .details .content h3{
      color:#fff;
      font-size: 30px;
      padding-top: 20px;
}
.container .box .details .content a{
      display: inline-block;
      padding:5px 20px;
      color:#fff;
      border:2px solid #fff;
      text-decoration: none;
      transition: 0.5s;
      border-radius: 20px;
}
.container .block{
  width:100%;
  background-color: #a33327;
}


.non_card_container{
  width:100%;
  height: auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.non_card_container h1{
  font-size: 45px;
}

.left{
  width:calc(100% - 4);
  background-color: #000000;
  border-radius: 20px;
  border: 2px solid #66FCF1;
}

.left h1{
  padding:20px;
}

.left img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}
.right{
  width:calc(100% - 4);
  background-color: #050b2b;
  border-radius: 20px;
  border: 2px solid #66FCF1;
}
.right h1{
  padding:20px;
}
.right img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}
/* ******************************* */
/* ************ card  ************ */
/* ******************************* */
 .card {
  width: 95%;
  margin: auto;
  height: auto;
  border-radius: 10px;
}
 .card_left {
  width: 0%;
  height: 400px;
  float: left;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
  margin: 16px 0;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.8);

}
 .card_right {
  width: 100%;
  float: left;
  height: auto;
  box-sizing: border-box;
  background: #000000;
  border-radius:  10px 10px 10px 10px;
  -webkit-border-radius:  10px 10px 10px 10px;
  -moz-border-radius:  10px 10px 10px 10px;
  margin: 16px 0;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.8);

}
 .card_right .mob_card{
  width: 100%;
  height:200px;
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-position:top;
  background-size: cover;
  display: block;
}
 .card_right h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 40px;
  margin: 30px 0 30px 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;

}.card_right__review p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 20px 0 20px 0;
  line-height: 20px;
}
.card_right__review div p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 0 40px 0 40px;
  letter-spacing: 1px;
  margin: 20px 0 20px 0;
  line-height: 20px;
}
 .card_right__review a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 0 0 0 40px;
  color: #ffda00;
  margin: 0;
}
.card_right__button {
  padding: 0 0 0 40px;
  margin: 40px 0 40px 0;
}
.card_right__button a {
  color: #66FCF1;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #66FCF1;
  padding: 10px 10px 10px 40px;
  font-size: 24px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 7% 50%;
  border-radius: 5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}
.card_right__button a:hover {
  color: #000000;
  background-color: #66FCF1;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

.block{
  height:20px
}

.googlemap{
  width:100%;
  height: 400px;
  border:0;
}
.platter_container{
  max-height: 0;
  overflow: hidden;

}

 .showmap{
  height:40%;
  width: 100%;
  box-sizing: border-box;
}
 .map_container{
  max-height: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height 0.2s ease-out;
}
.birthday_container{
  max-height: 0;
  overflow: hidden;
}
.cards .left{
  height:300px;
  width: 100%;
  float: left;
  padding:15px;
  box-sizing: border-box;
}

.cards .right{
  height:300px;
  width:100%;
  float:left;
  padding:15px;
  box-sizing: border-box;

}

/* ******************************* */
/* *********** Footer  *********** */
/* ******************************* */

footer{
  width:100%;
  background-color: black;
  color:white;
  height:125px;
  text-align:center;
}

footer a{
  text-decoration: none; color:white;
}

.aboutUs{
  padding-top:15px;
  font-size:15px;
}

.facebookIcon{
  padding-top:10px;
}

.footerCopyright{
  padding-top:5px;
  font-size: 16px;
}

@media(min-width:1000px){

  .aboutUs{
    padding-top:15px;
    font-size:18px;
  }

  .footerCopyright{
    padding-top:5px;
    font-size:18px;
  }

}



/* *************************************** */
/* *********** Booking button  *********** */
/* *************************************** */

.booking-button {
  font-family: 'Anton',"Arial Black", sans-serif;
  font-size: 1em;
  background-color: rgb(45, 33, 181);
  opacity:0.9;
  border-radius: 0.3em;
  grid-column: 65;
  color:white;
  grid-row:1;
  justify-content: center;
  align-items: center;
  height:2.5em;
  width:7em;
  text-decoration: none;
  text-align: center;
  padding-top:1px;
  border-color:black;
}

.booking-desktop {
  float: right;
  padding-top:20px;
  padding-right: 30px;
  display:none;
}


.booking-mobile {
  position: absolute;
  top:16px;
  right:100px;
  display:block;
}

.booking-button:active {
  background-color: rgb(45, 33, 181);
  opacity:1;
}






/* *************************************** */
/* *********** Booking page  *********** */
/* *************************************** */

.booking{
  width:95%;
  height:100%;
  background-color: #000000;
  margin:20px auto;
  padding: 0 0 30px 0;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.8);
  border: 2px solid #66FCF1;

}

.booking h1{
  width:100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  font-size: 40px;
  margin: 20px 0 30px 0;
  padding: 40px 0 40px 0 ;
  letter-spacing: 1px;
}
.submitbutton {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/* *************************************** */
/* *************** desktop  ************** */
/* *************************************** */

@media(min-width:500px){

  .container .box{
    width:50%;
    height:250px;
    float:left;
  }
  .card_right .mob_card{
      display: block;
      height:350px;
  }


  .booking-button {
    opacity:0.9;
    background-color: rgb(45, 33, 181);

  }


.booking-button:hover {
  opacity:1;
  background-color: rgb(45, 33, 181);

  }
  .cards .left{
    height:300px;
    width: 50%;
    float: left;
  }
  .cards .right{
    height:300px;
    width:50%;
    float:left;
  }

}

@media(min-width:1000px){

  .container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width:100%;
    height:100%;
    box-sizing: border-box;
    letter-spacing:2px;
  }

  .container .box{
    height:500px;
  }
  .container .box .details{
    height:500px;
  }

  .card_left{
    width:40%;
  }
  .card_right{
    width: 60%;
    min-height: 400px;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
  }
  .card_right .mob_card{
    display: none;
  }


  .booking-button {
    opacity:0.9;
    background-color: rgb(45, 33, 181);
  }


.booking-button:hover {
  opacity:1;
  background-color: rgb(45, 33, 181);
  }
  .left{
    width:49%;
    float: left;
  }
  .right{
    width:50%;
    float: left;
  }



}

@media (min-width:1138px){
  .desktop_nav{
    display:block;
  }
  .mobile_nav{
    display:none;
  }
  .booking-mobile{
    display:none;
  }
  .booking-desktop {
    display:block;
  }

  .booking-button {
    opacity:0.9;
    background-color: rgb(45, 33, 181);
  }

  .booking-button:hover {
    opacity:1;
  }


  .container{
    width:100%;
    height:500px;
    box-sizing: border-box;
    letter-spacing:2px;

  }
  .container .box{
    height:500px;
    width: 25%;
  }


  .container .box .box_img{
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
  .container .box .details{
    height:250px;
  }
  .container .box .details .content a{
    transform:scale(0);
  }
  .container .box:nth-child(odd) .box_img{
    bottom: 0;
    left:0;
  }
  .container .box:nth-child(even) .details{
    bottom: 0;
    left:0;
  }
  .container .box:hover{
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,1);
  }
  .container .box:hover .details .content{
    top: 30%;
  }
  .container .box:hover .details .content a{
    transform: scale(1);
  }
  .container .box .details .content a:hover{
    background-color: #fff;
    color:#262626;
  }
  .img_link{
    height:300px;
    width: 500px;
  }
}

/* images */

.home1{
  background-image: url('../images/bowling.jpg');
}
.home2{
  background-image: url('../images/greatdeal.png');
}
.home3{
  background-image: url('../images/food.jpg');
}
.home4{
  background-image: url('../images/league.jpg');
}
.activities1{
  background-image: url('../images/home_wall1.jpg');
}
.activities2{
  background-image: url('../images/Planet-Ten-Pin-Slider-Kids-Planet.jpg');
}
.activities3{
  background-image: url('../images/minigolf.jpg');
}
.contactus1{
  background-image: url('../images/contactus.png');
}
.contactus2{
  background-image: url('../images/contactuslong.jpg');
}
.open1{
  background-image: url('../images/open.jpg');
}
.open2{
  background-image: url('../images/wereopen.jpg');
}
.open3{
  background-image: url('../images/cafe.jpg');
}
.open4{
  background-image: url('../images/cafe.jpg');
}
.foodPlatter{
  background-image: url('../images/foodPlatter.jpg');
}
.birthdayParties{
  background-image: url('../images/birthdayParties.jpg');
}
.specialEvents{
  background-image: url('../images/specialEvents.jpg');
}
.specialEvents1{
  background-image: url('../images/specialEvents1.jpg');
}
.league{
  background-image: url('../images/league.jpg');
}
.booknow{
  background-image: url('../images/booknow1.jpg');

}
